<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inc.tracks.retrospect">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <uses-permission
        android:name="com.android.vending.BILLING" />

    <uses-permission
        android:name="android.permission.VIBRATE" />

    <uses-permission
        android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:isGame="true"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>

        <activity
            android:name=".ActivitySplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityHomeScreen"/>
        <activity android:name=".ActivityDifficultyMenu"/>
        <activity android:name=".ActivityMainGame"/>
        <activity android:name=".ActivityLevels"/>
        <activity android:name=".ActivityScorePage" />
        <activity android:name=".ActivityLeaderBoard" />
        <activity android:name=".ActivitySettings" />
        <activity android:name=".ActivityAchievements"/>
    </application>

</manifest>